python
certifi==2020.12.5
click
Flask
gunicorn==20.1.0
itsdangerous
Jinja2
MarkupSafe==1.1.1
mkl-fft==1.3.0
mkl-random
mkl-service==2.3.0
numpy
pandas
plotly
python-dateutil
pytz
retrying==1.3.3
six
Werkzeug
wincertstore==0.2
